# Virtual environment
.venv/
env/
venv/

# Data & uploads
data/
logs/
uploads/
test_audio_clips/

# Audio & database files
*.wav
*.mp3
*.db

# Generated outputs
static/outputs/
static/*.png
*.csv

# Python cache
__pycache__/
*.pyc

# Models
model/
models/

# Environment variables
.env

# OS / misc
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/